.inputGroup {
  margin: 20px auto;
  >span{
    display: inline-flex;
    align-items: center;
    >span{
      height: 32px;
      padding: 4px 10px;
      display: block;
      justify-content: center;
      align-items: center;
      border: 1px solid #d9d9d9;
    }
  }
}
.topCon{
   width: 80vw;
  
}
.line{
  position: relative;
  &::before{
    display: inline-block;
    content: "";
    width: 20px;
    border: 1px dashed rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    top: 50%;
  }
 
}